<h1>Edit Post</h1>
<%= form_for @post do |f| %>
	<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title %> <br>
	</p>

	<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body,  cols: 40, rows: 15 %> <br>
	</p>

	<p>
		<%= f.label :category %> <br>
		<%= f.select :category_id, Category.all.collect {|category|
		[category.name, category.id] }, {:include_blank => true} %> <br>
	</p>

	<p>
		<%= f.submit "Update Post" %> <br>
	</p>
<% end %>

<p><%= link_to "Back", post_path , :class => "link"%></p>